<input type="button" value="Nova Empresa" (click)="openNewCompany()" />

<form [formGroup]="formCompany">
    <br/>
    <select formControlName="industry" (change)="getCompanies()">
        <option disabled selected value="">Selecione uma indústria</option>
        <option *ngFor="let i of industries" [value]="i.id">{{i.name}}</option>
    </select>
</form>


<table style="width: 90%; margin-top: 20px" border="1">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>

    <tr *ngFor="let j of companies">
        <td>{{j.name}}</td>
    </tr>

</table>