<p>new-company works!</p>


<form [formGroup]="formCompany">
    <select formControlName="industry">
        <option disabled selected value="">Selecione uma indústria</option>
        <option *ngFor="let i of industries" [value]="i.id">{{i.name}}</option>
    </select>

    <input formControlName="name" type="text" />

    <input type="button" value="salvar" (click)="save()" />
</form>