<form [formGroup]="formListJobs">
    <select formControlName="industry" (change)="getCompanies()">
        <option disabled selected value="">Selecione uma indústria</option>
        <option *ngFor="let i of industries" [value]="i.id">{{i.name}}</option>
    </select> &nbsp;

    <select formControlName="company">
        <option selected value="">Selecione uma empresa</option>
        <option *ngFor="let c of companies" [value]="c.id">{{c.name}}</option>
    </select> &nbsp;

    <input type="button" value="Buscar" (click)="findJobs()" />

</form>

<table style="width: 90%; margin-top: 20px" border="1">
    <thead>
        <tr>
            <th>Vaga</th>
            <th>Descrição</th>
            <th>Senioridade</th>
            <th>Empresa</th>
            <th>Salário</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let j of jobs">
            <td>{{j.title}}</td>
            <td>{{j.description}}</td>
            <td *ngIf="j.seniority === 'J'">Júnior</td>
            <td *ngIf="j.seniority === 'P'">Pleno</td>
            <td *ngIf="j.seniority === 'S'">Sênior</td>
            <td>{{j.company}}</td>
            <td>{{j.salary | currency:"R$ "}}</td>
        </tr>
    </tbody>
</table>

<br />
<input type="button" value="Nova Vaga" (click)="openNewJob()" />