<p>new-job works!</p>





<form [formGroup]="formNewJob">
    <br/>
    <select formControlName="company">
        <option selected value="">Selecione uma empresa</option>
        <option *ngFor="let c of companies" [value]="c.id">{{c.name}}</option>
    </select>
    <br/>
    <input type="text" formControlName="title" />
    <br/>
    <input type="text" formControlName="descript" />
    <br/>
    <input type="number" formControlName="salary" />
    <br/>
    <input type="text" formControlName="seniority" maxlength="1" />

    <input type="button" value="salvar" (click)="save()" />
</form>