<div>
    <h1>Jobs Manager</h1>

    <a routerLink="/company-list">Empresas</a> &nbsp;&nbsp;
    <a routerLink="/job-list">Vagas</a>
</div>

<div style="margin-top: 20px">
    <router-outlet></router-outlet>
</div>